@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 200vh;
}
.back-button{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: red;
    color: white;
    position: absolute;
    left: 45%;
    bottom: 35%;
    border: none;
    font-weight: bold;
    z-index: 1000;
}

nav {
    width: 70vw;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}

nav img {
    height: 70px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.gg1 {
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid rgb(146, 145, 145);
    font-weight: bold;
    background-color: rgba(18, 18, 18, 0.4);
    color: white;
}

.gg1-hover {
    background-color: rgba(12, 12, 12, 0.60);
    width: 112px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 10px;
    padding: 4px 10px;
    color: white;
    font-family: Poppins;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgb(120, 119, 119);
    opacity: 0;
    transition: opacity 0.50s;
}

.tooltip:hover .gg1-hover {
    opacity: 1;
}

.gg {
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: red;
    color: white;
}

.gg-hover {
    background-color: rgba(12, 12, 12, 0.60);
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 90px;
    opacity: 0;
    padding: 4px 10px;
    color: white;
    font-family: Poppins;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgb(120, 119, 119);
    transition: opacity 0.50s;
}

.tooltip2:hover .gg-hover {
    opacity: 1;
}

.back-ground {
    width: 100vw;
    height: 70vh;
    background-image: url(Assets/images/bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1000px, 100vw);
    position: relative;
}

.results img {
  display: block;         /* removes inline spacing quirks */
  max-width: 200px;       /* optional: set consistent size */
  border-radius: 8px;     /* optional: rounded corners */
  transition: 0.3s ease-in-out;
  z-index: 10;
}
.results img:hover{
    box-shadow: 0 0 15px white;
    transform: scale(1.1);
    z-index: 1;
}
.results{
    padding: 15px 20px;
    width: 100vw;
    height: 100vh;
    background-color: #1b1a1a;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: rgba(27, 26, 26, 0.2) url(Assets/images/bg.webp) no-repeat center center;
    background-size: max(1000px, 100vw);
    position: relative;
    
}
form{
    z-index: 10;
}

.box {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
}
.box2 {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 5%;
    gap: 28px;
    color: white;
    text-align: center;
}
.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBlurAnimation {
    0%{
        filter: blur(40px);
    }
    40%,60%{
        filter: blur(0);
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}
.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view(70% 5%);
}
@keyframes autoDisplayAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3)
    }
    to{
        opacity:1;
        transform: translateY(0) scale(1)
    }
}

.content-text h1 {
    font-family: Poppins;
    font-weight: bolder;
    background: linear-gradient(90deg,
         #ffffff 0%,      /* Pure White */
        #e0e0e0 25%,     /* Soft Silver */
        #f5f5f5 50%,     /* Bright White */
        #dcdcdc 75%,     /* Subtle Grey */
        #807777 100% );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    animation : textAnimation 4s linear infinite;

}
@keyframes textAnimation{
    to{
        background-position: 200%;
    }
}



.content-text:nth-child(2) {
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
}

.input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    color: white;
}

::placeholder {
    color: rgb(225, 224, 224);
    font-weight: 400;
    font-family: Poppins;
    font-size: 10px;
}

.input1 input {
    background-color: rgba(15, 15, 15, 0.8);
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid rgb(137, 135, 135);
    color: white;
    z-index: 1;
    width: 40%;
}

.input1 button {
    padding: 6px 15px;
    border-radius: 4px;
    border: none;
    background-color: red;
    color: white;
    z-index: 1;
    font-family: Poppins;
    font-weight: 600;
}

.border-line {
    width: 100vw;
    background-color: rgb(64, 63, 63);
    height: 1vh;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Poppins;
}

.first-left {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;

}

.first-left h2 {
    font-family: Poppins;
    font-size: 35px;
    margin: auto;
    text-align: center;
}

.left-span-text {
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    max-width: 450px;
}

.right-span {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-span img {
    width: 55%;
}

.right-span video {
    position: absolute;
    width: 40%;
    top: 66px;
}

.footer-section:first-child {
    padding: 30px 0;
}

.footer-section h1 {
    font-family: Poppins;
    font-weight: bolder;
    font-size: 32px;
    color: white;
    text-align: center;
}

.footer-section {
    color: white;
    height: 70vh;
}

.footer {}

.faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    margin: auto;
    padding: 10px 0;

}

.faq-child {
    width: 50vw;
    background-color: #2d2d2d;
    padding: 15px 25px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
}

.faq-child:hover {
    background-color: #4a4a4a;
    color: white;
}

.footer-section svg {
    position: absolute;
    right: 370px;
    color: white;
}

.last-part {
    width: 60vw;
    margin: auto;
    height: 15%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding-top: 60px;
}

.questions-last {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
}

div p {
    font-family: Poppins;
    font-size: 15px;
    color: white;
}

.last-heading {
    width: 50vw;
    margin: auto;
    padding-top: 30px;
    position: absolute;
    left: 290px;
}

.last-part a {
    color: white;
}

/* Tablet View (768px and below) */
/* Tablet View (768px and below) */
/* Tablet View (768px and below) */
@media (max-width: 768px) {
    nav {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    nav img {
        height: 50px;
    }

    .btns {
        flex-direction: row;
        gap: 10px;
        margin-top: 0;
    }

    .content-text h1 {
        font-size: 28px;
    }

    .left-span-text {
        font-size: 16px;
    }

    .input1 {
        flex-direction: column;
        gap: 10px;
    }

    .input1 input {
        width: 90%;
    }

    .input1 button {
        width: 70%;
    }

    .first {
        flex-direction: column;
        padding: 30px 0;
    }

    .first-left,
    .right-span {
        width: 100%;
        text-align: center;
    }

    .right-span img,
    .right-span video {
        width: 80%;
    }

    .right-span video {
        top: 50px;
    }

    .faq-child {
        width: 85vw;
    }

    .footer-section svg {
        right: 30px;
    }

    .last-part {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        gap: 30px;
    }

    .last-heading {
        width: 90vw;
        position: static;
        text-align: center;
        padding-bottom: 20px;
    }
}

/* Mobile View (600px and below) */
@media (max-width: 600px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    input{
        margin-bottom: 10px;
    }

    .btns {
        flex-direction: row;
        gap: 10px;
    }

    .content-text h1 {
        font-size: 22px;
    }

    .left-span-text {
        font-size: 14px;
    }

    .first-left h2 {
        font-size: 22px;
    }

    .right-span img,
    .right-span video {
        width: 100%;
    }

    .faq-child {
        width: 90vw;
        font-size: 14px;
    }

    .footer-section h1 {
        font-size: 24px;
    }

    .last-part {
        grid-template-columns: 1fr 1fr;
        /* 2 columns in mobile */
        gap: 20px;
        width: 95vw;
    }

    .questions-last {
        text-align: left;
    }

    .input1 input,
    .input1 button {
        width: 90%;
    }

    .back-ground {
         height: 80vh; /* increase height */
        background-size: cover;
        padding-bottom: 30px;
        position: relative;
        filter: none; /* remove blur on mobile */
        animation: none;
    }

    .box {
        display: block;
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        z-index: 0;
    }

    .content-text,
    .input1 {
        position: relative;
        z-index: 1;
    }
}